@use "Setting" as *;

.u-margin-logo {
    margin-top: rem(-140);
}

.u-mt24 {
    margin-top: rem(24);
}

.u-mb36 {
    margin-bottom: rem(36);
}

.u-mb64 {
    margin-bottom: rem(64);
}

.u-mb90 {
    margin-bottom: rem(90);
}
