@use "Setting" as *;

.c-accordion__title {
    background-color: #fff;
    line-height: 23px;
    padding: rem(12) 0 rem(12) rem(14);
    font-size: rem(18);
    position: relative;
    margin-top: rem(32);
    font-weight: bold;
    @include mq(md) {
        padding: rem(12) rem(12) rem(12) rem(14);
    }

    &::after {
        content: url("/assets/images/Vector.png");
        position: absolute;
        right: rem(14);
        transition: transform 0.3s ease;
    }

    &.open::after {
        transform: rotate(180deg);
    }
}

.c-accordion__title span {
    font-size: rem(24);

    margin-right: rem(8);
}

.c-accordion__desc {
    display: none;
    padding-top: rem(24);
    line-height: 1.5;
}
