//============================
// Color
// ===========================
$white: #fff;

$background-color: #fdf9ef;
$title-color: #4e301b;
$text-color: #857868;
$accent-color: #35a1c3;
$border-color: #c6c6c6;

//============================
// Inner
// ===========================
$white-inner: 934px;
$beige-inner: 740px;
